@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
}

.page-header {
  background-color: #ffffff;
  color: #333333;
}

/* навигация по сайту */
.main-nav {
  list-style: none;
}

.main-nav-link {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
  color: #333333;
}

/* меню пользователя */
.nav-user {
  text-align: right;
  list-style: none;
}

.nav-user-link-button {
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 4px;
  padding: 8px 50px;
  width: 160px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
  background: #756157;
}

/* main */
.greetings {
  background-image: url(../images/sedona/index-background.jpg);
  height: 485px;
  background-size: 100% auto;
  text-align: center;

  background-repeat: no-repeat;
  background-color: #000000;

}

.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.causes {
  color: #333333;
}

/* список преимуществ */
.advantage-list {
  list-style: none;
  text-align: center;
}

/* li */
.advantage-item {
  width: 400px;
  height: 385px;
  padding: 103px 85px;
}

.advantage-item:nth-child(1),
.advantage-item:nth-child(5) {
  background-color: #82B3D3;
}

.advantage-item:nth-child(2),
.advantage-item:nth-child(4) {
  background-color: #83B3D31F,
   rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) {
  background-color: #83B3D333,
  rgba(131, 179, 211, 0.20);
}

/* h3 */
.advantage-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  text-transform: uppercase;
  color: #000000;
}

.advantage-title:nth-child(1),
.advantage-title:nth-child(5) {
  color: #ffffff;
}


/* вариант В
 .advantage-title:nth-child(2),
.advantage-title:nth-child(3),
.advantage-title:nth-child(4) {
  color: #000000;
} */

/* вариант С
.advantage-title:first-child,
.advantage-title:last-child {
  color: #ffffff;
} */



/* P */
.about-advantage {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.about-advantage:nth-child(1),
.about-advantage:nth-child(5) {
  color: #ffffff;
}

/* приезжайте в седону */
.invitation {
  text-align: center;
}

.invitation-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  text-transform: uppercase;
  color: #000000;
}

.description {
  color: #333333;
}

/* рекомендации */
.recommendation-list {
  list-style: none;
}

.recommendation-item,
.recommendation-item-individual {
  width: 400px;
  height: 385px;
  outline: 4px solid #ffffff;
  background-color: #83b3d31f,
  rgba(131, 179, 211, 0.12);
  text-align: center;
  padding: 80px 85px;
}

.recommendation-item-individual {
  background-color: #ffffff,
rgba(0, 0, 0, 0.20);
}


.recommendation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

/* заинтересовались? */
.offer-question {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.offer-subscribe {
  text-align: center;
  padding: 96px 304px;
}

.button-search {
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 4px;
  padding: 8px 50px;
  width: 275;
  height: 36;

  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;

  color: #ffffff;
  background-color: #756157;

}

/* подпишитесь на рассылку */
.subscribe {
  text-align: center;
}

.subscribe-button {
  text-transform: uppercase;
  padding: 8px 50px;

  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;

  color: #ffffff;
  background: #82B3D3;
}

.subscribe-form {
  padding: 12px 20px;

  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: ##F2F2F2;
}

/* футер */

.socials-list {
  list-style: none;
}

.footer-contacts-address-phone {
  text-transform: uppercase;

  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

/* каталог */

.hotels {
  background-image: url(../images/search-bar/background-image.png);

  font-size: 60px;
  font-weight: 700;
  line-height: 78px;

  color: #ffffff;
  background-color: #020101;
}

.catalog-filter-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.catalog-filter-item {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;

  color: #ffffff;
  background-color: #000;
}
