@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
}

.page-header {
  background-color: #ffffff;
  color: #333333;
}

/* навигация по сайту */
.main-nav {
  list-style: none;
}

.main-nav-link {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
  color: #333333;
}

/* меню пользователя */
.nav-user {
  text-align: right;
  list-style: none;
}

.nav-user-link-button {
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 4px;
  padding: 8px 50px;
  width: 160px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
  background: #756157;
}

/* main */
.greetings {
  background-image: url(../images/sedona/index-background.jpg);
  height: 485px;
  background-size: 100% auto;
  text-align: center;

  background-repeat: no-repeat;
  background-color: #000000;

}

.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  text-transform: uppercase;
  color: #000000;
}

.about-advantage {
  color: #333333;
}

/* список преимуществ */
.advantage-list {
  list-style: none;
  text-align: center;

}

.advantage-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}



.about-advantage {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}



/* приезжайте в седону  */
.invitation {
  text-align: center;
}

.invitation-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

/* рекомендации */
.recomendation-list {
  list-style: none;
}


.recomendation-item,
.recomendation-item-individual {
  width: 400px;
  height: 385px;
  outline: 4px solid white;
  background-color: #83B3D3;
  text-align: center;
  padding: 80px 85px;
}


.recomendation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

/* заинтересовались? */
.offer-question {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.offer-subscribe {
  text-align: center;
  padding: 96px 304px;
}

.button-search {
  weight: 275;
  height: 36;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #756157;
  text-decoration: none;
}

/* подпишитесь на рассылку */
.subscribe {
  text-align: center;
}


.subscribe-button {
  color: #FFF;
  background: #82B3D3;
  padding: 8px 50px;
  text-align: center;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-form {
  border-radius: 4px 0px 0px 4px;
  padding: 12px 20px;
  align-items: center;
  font-family: "PT Sans";
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: ##F2F2F2;



}

/* футер */

.socials-list {
  list-style: none;
}

footer-contacts-address-phone {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

/* каталог */

.hotels {
  background-image: url(../images/search-bar/background-image.png);
  color: #FFF;
  background-color: #020101;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.catalog-filter-title,
{
color: #FFF;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-transform: capitalize;
}

.catalog-filter-item {
  list-style: none;
  color: #FFF;
  background-color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
